blake3
compressed-tensors==0.9.2
depyf==0.18.0
gguf==0.10.0
lark==1.2.2
llguidance==0.7.9
lm-format-enforcer==0.10.11
ninja
numba==0.60.0
outlines==0.1.11
partial-json-parser
prometheus-fastapi-instrumentator==7.0.0
py-cpuinfo
python-json-logger
tiktoken==0.6.0
torchaudio==2.6.0
torchvision==0.21.0
watchfiles
xformers==0.0.29.post2
xgrammar==0.1.16
msgspec
openai>=1.52.0
pyzmq
jiter==0.4.0
distro
starlette